<html>
<head>
	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<link href="bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"> 
</head>
<body>
	<form id="login" action="/api/login" method="post">
	  <input type="text" name="email" value="" placeholder="first.last@gmail.com">
	  <input type="text" name="password" value="" placeholder="****">
	  <input type="submit" value="Go">
	</form>

	<script src="http://malsup.github.com/jquery.form.js"></script> 
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>