<html>

<head>
 <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> 
    <script src="bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
	
    <title>CYOA Maps</title> 
    <link href="bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"> 
    <link href="bootstrap-3.2.0-dist/css/font-awesome.min.css" rel="stylesheet"> 
    <link href="bootstrap-3.2.0-dist/css/font-awesome-ie7.min.css" rel="stylesheet">     
    <link href="css/main.css" rel="stylesheet"> 

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA31vNdOVCIbR7pqx5l5KZhgXDoSXgKedE&sensor=SET_TO_TRUE_OR_FALSE"></script>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="js/page.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

</head>
<body onLoad="initialize()">

       <div class="header">

            <ul class="nav nav-pills pull-right" role="tablist">
              <li role="presentation" class="active"><a href="#">Home</a></li>
              <li role="presentation"><a href="#">About</a></li>
              <li role="presentation"><a href="#">Contact</a></li>
            </ul>

            <div class="row">   
            	
            	<h3 class="text-muted"> Choose Your Own Adventure - Maps</h3>

            	<div class="col-md-6 col-md-push-4" style="position:absolute; top:5px">   
            		<form class="form-inline" role="form">
            		  <div class="form-group">
            		    <label class="sr-only" for="exampleInputEmail2">Email address</label>
            		    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
            		  </div>
            		  <div class="form-group">
            		    <label class="sr-only" for="exampleInputPassword2">Password</label>
            		    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
            		  </div>
            		  <div class="checkbox">
            		    <label>
            		      <input type="checkbox"> Remember me
            		    </label>
            		  </div>
            		  <button type="submit" class="btn btn-default">Sign in</button>
            		</form>
            	</div> 
                   
            	
            </div>            
      </div>

  <div id="map_canvas" style="width:100%; height:100%"></div>
  
<!--  jumbotron-->
<div class="container-fluid">
      <div class="col-md-4  mydiv" style="width:350px; position:absolute; top:60px;background-color:#CCCCFF">
        <h3>Welcome User!</h3>
        <h4>How much would you like to spend?</h4>
        <h4>How much time do you have?</h4>
	
	<div class="navbar-collapse">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>  

      
      </div>
<!-- ================================================================================================================= -->      
     
	      <div class="col-md-4  mydiv" style="width:350px; position:absolute; top:180px;background-color:#CCCCFF ">      
			      <div class="col-md-4" style="width:350px">
			         <ul id="menu" style="align:center">
			           <li ><a href="#"><i class="icon-user"></i>&nbsp;Your</a></li>
			           <li><a href="#about"><i class="icon-time"></i>&nbsp;Time</a></li>
			           <li><a href="#contact"><i class="icon-money"></i>&nbsp;Money</a></li>
			         </ul>
			      </div>


            <!--
					<nav>
					  <ul class="pager">
					    <li class="previous"><a href="#" class="unslider-arrow prev"><i class="icon-angle-left"></i></a></li>
					    <li class="next"><a href="#" class="unslider-arrow next"><i class="icon-angle-right"></i></a></li>
					  </ul>
					</nav>				      	
				<div class="mapSlides">
				    <ul>
				        <li><img src="images/11.jpg" width="100" height="100" border="1" alt=""></li>
				        <li><img src="images/22.jpg" width="100" height="100" border="1" alt=""></li>        
				        <li><img src="images/33.jpg" width="100" height="100" border="1" alt=""></li>  
				    </ul>
				</div>
            -->

            <p id="description">The discription of the adventure</p>
            <p id="adventures"></p>
	  	 
	      </div>
    

	      <div class="col-md-4  mydiv" style="width:350px; position:absolute; top:450px;background-color:#CCCCFF ">    


 				 <div class="col-md-4" style="width:300px">     		
					 <form class="form-inline" role="form">
						<div class="btn-group">
						<input type="button" class="btn btn-info form-control" value="PushIt" onclick="PushIt()" />
						<input type="button" class="btn btn-success form-control" value="Line" onclick="LineIt()"/>
                        <input type="button" class="btn btn-success form-control" value="showAdventure" onclick="showAdventure()"/>
                        <input type="button" class="btn btn-success form-control" value="getAllAdventures" onclick="getAllAdventures()"/>
						</div>					 

						  <div id="latlong">
						    <p>Latitude: <input size="20" type="text" id="latbox" name="lat" ></p>
						    <p>Longitude: <input size="20" type="text" id="lngbox" name="lng" ></p>
						  </div>   	  
					  </form> 	 					    
				 </div>    	  
    	  
    	  
    	  </div>	
      
</div>      

    <script src="js/index.js"></script>

</body>

    <script src="bootstrap-3.2.0-dist/jQuery/jquery-1.7.2.min.js"></script>

    <script src="bootstrap-3.2.0-dist/jQuery/unslider.js"></script>	
    
	<script type="text/javascript">
    $(function() {
        $('.mapSlides').unslider();
    });

    	$('.mapSlides').unslider({
    		speed: 500,               //  滚动速度
    		delay: 1000,              //  动画延迟
    		complete: function() {},  //  动画完成的回调函数
    		keys: true,               //  启动键盘导航
    		dots: true,               //  显示点导航
    		fluid: false              //  支持响应式设计
    	});

        var unslider = $('.mapSlides').unslider();

        $('.unslider-arrow').click(function() {
            var fn = this.className.split(' ')[1];

            //  Either do unslider.data('unslider').next() or .prev() depending on the className
            unslider.data('unslider')[fn]();
        });
        	
    </script>
</html>



