<html>
<head>
	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<link href="bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"> 
	<script type="text/javascript" src="js/userList.js"></script>
</head>
<body>
	<div id="users"></div>

	<script src="http://malsup.github.com/jquery.form.js"></script> 
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>